<div class="loading-display" *ngIf="!movies">
    <i class="pi pi-spin pi-spinner"></i>
    <p>Loading...</p>
</div>
<div class="wishlist-container" *ngIf="movies">
    <div class="movie-container"  *ngFor="let movie of movies">
        <app-movies-detail-card [movie]="movie"></app-movies-detail-card>
    </div>
</div>
