<p-menubar class="menubar"> 
    <button pButton id="backButton" [class]="backButtonClassList"  icon="pi pi-arrow-left" (click)="goBack()" [disabled]="cantGoBack"></button>  
    <button pButton id="forwardButton" [class]="forwardButtonClassList" icon="pi pi-arrow-right" (click)="goForward()" [disabled]="cantGoForward"></button>  
    <a routerLink="wishlist">
        <i pBadge class="wishlist-button pi pi-star-fill"  [value]="wishlistSize"></i> 
    </a>
    <a routerLink="">
        <i class="home-button pi pi-home"></i> 
    </a>
    <p-button label="Menu" [icon]="menuIcon" [styleClass]="buttonClass" (onClick)="showSidebar()"></p-button>
</p-menubar>