a .wishlist-button {
  color: gold;
}

a::after .wishlist-button {
  color: gold;
}

a .home-button {
  color: darkolivegreen;
}

a::after .home-button {
  color: darkolivegreen;
}
.menubar {
  margin-bottom: 20px;
}

i {
  font-size: 2rem;
  margin-right: 20px;
}

::ng-deep #backButton {
  font-size: 2rem;
  margin-right: 10px;
}

::ng-deep #forwardButton {
  margin-right: 20px;
}
