<div class="loading-display" *ngIf="!movie || !cast; else movieInformation">
    <i class="pi pi-spin pi-spinner"></i>
    <p>Loading...</p>
</div>
<ng-template #movieInformation>
    <div class="movie-display-container" [style.background-image]="containerBackgroundImage">
        <div class="poster-wrapper">
            <img class="movie-poster" src="{{getImageUrlPrefix + movie.poster_path}}" /> 
        </div>
        <div class="movie-info-wrapper">
            <h3 class="movie-title">{{movie.title}}</h3>
            <p><b>Release date: </b>{{movie.release_date | date: "dd.MM.yyyy"}}</p>
            <p><b>Budget:</b> {{movie.budget | currency: 'USD'}}</p>
            <p><b>Revenue:</b> {{movie.revenue | currency: 'USD'}}</p>
            <p><b>Status:</b> {{movie.status}}</p>
            <p><b>Story summary:</b></p>
            <p>{{movie.overview}}</p>
            <p><b>Production companies:</b></p>
            <div class="production-companies-display">
                <p-card class="production-company" *ngFor="let company of movie.production_companies">
                    <ng-template class="production-company-header" pTemplate="header" *ngIf="company.logo_path; else noProductionCompanyImage">
                        <img src="{{productionCompanyLogoUrlPrefix + company.logo_path}}" alt="Logo"/>
                    </ng-template>
                    <ng-template #noProductionCompanyImage>
                        <img src="assets/no-production-company-image.png" />
                    </ng-template>
                    <p><b>{{company.name}}</b></p>
                </p-card>
            </div>
            <p><b>Cast:</b></p>
            <div class="cast-display">
                <p-card class="cast" *ngFor="let actor of cast">
                    <ng-template pTemplate="header" *ngIf="actor.profile_path; else noActorImage">
                        <img src="{{actorImageUrlPrefix + actor.profile_path}}" alt="Actor profile"/>
                    </ng-template>
                    <ng-template #noActorImage>
                        <img src="assets/actor-no-image.jfif" alt="Actor profile"/>
                    </ng-template>
                    <p><b>{{actor.name}}</b></p>
                    <p>as</p>
                    <p><b>{{actor.character}}</b></p>
                </p-card>
            </div>
        </div>
    </div>
</ng-template>

