.movie-display-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: space-around;
  overflow: auto;
}

.poster-wrapper {
  margin: 10px;
}

.movie-info-wrapper {
  margin: 10px;
}

.production-companies-display {
  overflow-y: hidden;
  overflow-x: auto;
  display: inline-flex;
  align-items: stretch;
  gap: 10px;
  width: 600px;
}

.production-company {
  flex: 0 0 10%;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.cast-display {
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-flex;
  width: 600px;
  align-items: stretch;
}

.cast {
  flex: 0 0 10%;
  margin: 10px;
  width: 100px;
}

.p-card {
  background-color: transparent;
  color: white;
}

.p-card-header {
  background: white;
  height: 100px;
}

.p-card img {
  height: 100px;
  width: 100px;
}
