<div class="movie-card">
    <img class="poster" src="{{getImageUrlPrefix + movie.poster_path}}" />
    <div class="card-header">
        <h2>{{movie.title}}</h2>
        <p>{{movie.release_date | date:'yyyy'}}</p>
    </div>
    <div class="card-footer">
        <a [routerLink]="['/movies/', movie.id]"><button pButton class="detail-button" pTooltip="{{movie.overview.split(' ').slice(0, 10).join(' ') + '...'}}" tooltipPosition="right" label="See Details"></button></a>
        <div *ngIf="!isMovieInWishlist(movie.id); else movieInWishlist">
            <button pButton class="wishlist-button p-button-warning" icon="pi pi-star-fill" label="Add to wishlist" (click)="addMovieToWishlist(movie)"></button>
        </div>
        <ng-template #movieInWishlist>
            <button pButton class="wishlist-button p-button-danger" icon="pi pi-star" label="Remove from wishlist" (click)="removeMovieFromWishlist(movie.id)"></button>
        </ng-template>
    </div>
</div>
