.movie-card {
  width: 300px;
  height: 600px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 2px 2px 5px darkgray;
  border: 1px lightgray;
  border-style: groove;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
}

.card-header {
  margin: 10px;
  align-self: flex-start;
  flex-grow: 2;
}

.poster {
  height: 300px;
  width: 100%;
  align-self: flex-start;
}

a {
  text-decoration: none;
}

.wishlist-button {
  margin-top: 10px;
}

.card-footer {
  display: inline-block;
  margin: 10px;
}
