.movie-container {
  margin: 5px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.loading-display {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pagination-container {
  gap: 10px;
  margin: 20px;
}
