<div class="loading-display" *ngIf="!moviesLoaded">
    <i class="pi pi-spin pi-spinner"></i>
    <p>Loading...</p>
</div>
<div *ngIf="moviesLoaded">
    <div class="pagination-container flex justify-content-center">
        <p-button icon="pi pi-angle-double-left" pTooltip="1" (onClick)="goToFirstPage()"></p-button>
        <p-button icon="pi pi-angle-left" pTooltip="{{currentPage - 1 <= 0 ? 1 : currentPage - 1}}" (onClick)="goToPreviousPage()"></p-button>
        <input type="number" style="width: 75px;" pInputText (change)="goToPage()" [(ngModel)]="currentPage"/>
        <p-button icon="pi pi-angle-right" pTooltip="{{currentPage + 1}}" (onClick)="goToNextPage()"></p-button>
        <p-button icon="pi pi-angle-double-right" pTooltip="{{maximumPage}}" (onClick)="goToLastPage()"></p-button>
    </div>
    <div class="movie-container"  *ngFor="let movie of movies">
        <app-movies-detail-card [movie]="movie"></app-movies-detail-card>
    </div>
    <div class="pagination-container flex justify-content-center">
        <p-button icon="pi pi-angle-double-left" pTooltip="1" (onClick)="goToFirstPage()"></p-button>
        <p-button icon="pi pi-angle-left" pTooltip="{{currentPage - 1 <= 0 ? 1 : currentPage - 1}}" (onClick)="goToPreviousPage()"></p-button>
        <input type="number" style="width: 75px;" pInputText (change)="goToPage()" [(ngModel)]="currentPage"/>
        <p-button icon="pi pi-angle-right" pTooltip="{{currentPage + 1}}" (onClick)="goToNextPage()"></p-button>
        <p-button icon="pi pi-angle-double-right" pTooltip="{{maximumPage}}" (onClick)="goToLastPage()"></p-button>
    </div>
</div>
